body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    outline: solid black;
}